@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,300;1,600&family=Poppins:wght@200;300;400;500&display=swap');

$poppins: 'Poppins', sans-serif;
$mulish: 'Mulish', sans-serif;

* {
  box-sizing: border-box;
}

.header {
  display: flex;
  align-items: center;

  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 32px;
  padding-right: 70px;

  margin-bottom: 30px;

  .header__logo {
    margin-right: 59px;
  }

  .header__menu-button {
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    cursor: pointer;

    margin-right: 28px;

    span {
      display: block;
      background-color: #1f2022;
      border-radius: 20px;

      width: 20px;
      height: 3px;
    }
  }

  .input-group {
    background: #ebebeb;
    border-radius: 22px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 20px;

    max-width: 830px;
    width: 50%;

    .input-search {
      background-color: transparent;
      border: none;
      width: 100%;

      padding-top: 12px;
      padding-bottom: 12px;
      padding-left: 23px;
      padding-right: 23px;

      mix-blend-mode: normal;
      opacity: 0.3;
    }

    .button-search {
      padding: 0;

      width: 19px;
      height: 19px;
      border: none;
    }

    .submit {
      border: none;
      cursor: pointer;

      .icon-search {
        fill: black;
      }
    }
  }

  .icons {
    display: flex;
    align-items: center;

    margin-left: auto;

    .icons-link {
      text-decoration: none;
      opacity: 0.24;
    }

    .icons-link:hover {
      opacity: 0.7;
    }

    .icons-link:not(last-child) {
      margin-right: 50px;
    }
  }

  .user {
    .user-avatar {
      border-radius: 50%;

      width: 40px;
      height: 40px;
    }
  }
}
