@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,500;0,600;0,700;1,300;1,600&family=Poppins:wght@200;300;400;500&display=swap');

$poppins: 'Poppins', sans-serif;
$mulish: 'Mulish', sans-serif;

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: $mulish;
}

.container {
  .sidebar {
    padding-left: 32px;
    width: 12%;

    position: fixed;
    top: 114px;
    left: 0;
    height: calc(100% - 114px);
    overflow-y: auto;

    .nav {
      .nav-title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;

        margin-bottom: 30px;
      }

      .nav-menu {
        padding-left: 0;
        margin-top: 0;
        margin-bottom: 60px;

        list-style-type: none;

        .nav-item {
          color: #898989;

          .nav-link {
            margin-bottom: 28px;
            display: flex;
            align-items: center;

            color: #898989;
            text-decoration: none;

            .icon {
            }

            .nav-text {
              margin-left: 13px;
            }
          }

          .nav-link:hover {
            color: #ff0000;
          }

          .nav-link:hover .icon {
            fill: #ff0000;
          }

          .nav-link > img {
            width: 26px;
            height: 26px;

            border-radius: 50%;
          }
        }

        .nav-item .icon {
          fill: #898989;
        }
      }
    }
  }

  .content {
    width: 100%;
    height: 400px;
    margin-top: 85px;
    padding-left: 13%;

    padding-top: 30px;

    .channel {
      position: relative;
      margin-bottom: 49px;

      .slider-buttons {
        position: absolute;
        right: 8%;
        top: 15px;

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 66px;

        .channel-button {
          cursor: pointer;
        }
      }

      .channel-title {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #19202c;
        font-weight: bold;
        font-size: 26px;
        line-height: 33px;

        margin-bottom: 30px;

        .channel-avatar {
          width: 50px;
          height: 50px;

          border-radius: 50%;
        }

        .channel-text {
          margin-left: 20px;
        }
      }

      .channel-slider {
        .swiper-wrapper {
          .swiper-slide {
            margin-right: 50px;
            .video-card {
              width: 250px;

              .video-thumb {
                width: 250px;
                height: 150px;
                overflow: hidden;
                border-radius: 14px;
                position: relative;

                .thumbnail {
                  width: 250px;
                  height: 150px;
                  object-fit: cover;
                }

                .video-duration {
                  position: absolute;
                  bottom: 10px;
                  right: 10px;

                  background: rgba(0, 0, 0, 0.3);
                  border-radius: 12px;

                  font-style: normal;
                  font-weight: normal;
                  font-size: 14px;
                  line-height: 18px;
                  color: #fff;
                  padding: 3px 9px;
                }
              }

              .video-title {
                font-weight: bold;
                font-size: 16px;
                line-height: 20px;
                color: #19202c;

                margin-top: 10px;
                margin-bottom: 4px;
              }

              .video-info {
                display: flex;
                align-items: center;
                justify-content: space-between;

                font-weight: normal;
                font-size: 13px;
                line-height: 16px;

                color: #c2c2c2;

                .video-counter {
                  display: flex;

                  .video-views {
                    margin-right: 5px;
                  }
                  .video-views:after {
                    content: '';
                    width: 2px;
                    height: 2px;
                    background-color: #c2c2c2;

                    display: inline-block;
                    vertical-align: middle;
                    margin-left: 5px;
                  }

                  .video-date {
                  }
                }

                .video-channel {
                }
              }
            }
          }
        }

        .swiper-wrapper {
        }
      }
    }

    .recommended {
      position: relative;
      margin-bottom: 50px;
    }
    
    .recommended-title {
      display: flex;
      align-items: center;
      text-decoration: none;
      font-weight: bold;
      font-size: 26px;
      line-height: 33px;
      color: #19202c;
      margin-bottom: 30px;
    }
    
    .recommended-slider-buttons {
      position: absolute;
      right: 12%;
      top: 0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 66px;
    }
    
    .recommended-video-card {
      display: block;
      margin-right: 40px;
    }
    
    .recommended-video-thumb {
      height: 250px;
      overflow: hidden;
      border-radius: 14px;
      position: relative;
    }
    
    .recommended-thumbnail {
      width: 540px;
      height: 250px;
      object-fit: cover;
    }

    
  }
}
